/*------CARDS CONTAINER ------*/

.container {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    margin-top: 2px;
    align-items: flex-start;
    background-color: #fff;
    /* align-items: center; */
  
    
    /* overflow: auto; */
}

.cardsContainer {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: -5px;
    padding: 5px;
    
  }

 