.containerTotal {
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
        
  }
  
  .checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .checkboxContainer > div {
    margin-right: 10px;
    margin-bottom: 10px;
    
  }

  .buttonBack {
    margin-top: 70px;
  }

  .titulo {
    font-family: "Brush Script MT",cursive;
    font-weight: normal;
  }