
.containerTotal {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: blue; */
  width: 1200px;
  height: 700px;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 20px;
  align-items: flex-start;
  /* margin-right: 300px; */
  margin-left: 0;
  /* background-color: red; */
}

.formPreviewContainer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
  margin-left: 10px;
  /* background-color: green; */
  
}

.previewContainer {
  display: flex;
  grid-template-columns: 12fr 14fr;
  gap: 20px;
  /* background-color: violet; */
  align-items: flex-start;
  margin-left: 0;
  border: 1px solid #04395E;
  border-radius: 10px;
}

.inputLineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 200%;
  margin: 1rem 0;
  /* background-color: yellow; */
  font-size: 12px;
  
}

.inputLine {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #cbcbcb;
  outline: none;
  margin-bottom: 1rem;
  color: black;
}
 
  /* .checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    
  } */
  
  /* .checkboxContainer > div {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: pink;
    
  }
   */
  .titulo {
    font-family: 'Courier New', Courier, monospace, serif ,cursive;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
    /* background-color: pink; */
    text-align: left;
    margin-left: 40px;
    color: #04395E;
  }

  
.buttonBack, .submitButton, .previewButton {
  width: 35%;
  height: 45px;
  /* margin-top: 70px; */
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.14);
  color: #04395E;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.buttonBack:hover, .submitButton:hover, .previewButton:hover {
  box-shadow: 0px 0px 8px #04395E;
}

.submitButton {
  margin-right: 10px; 
  margin-top: 1rem;
}

.previewButton {
  margin-left: 20px; 
  margin-top: 1rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stepInput {
  width: 300px;
  height: 100px;
  /* background-color: cadetblue; */
}
.errors {
  color: #D16666;
}

/* Galeria simulada*/
.galleryContainer {
  display: flex;
  gap: 10px;
}

.image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.selectedImage {
  width: 100px;
  height: 100px;
  border: 2px solid #04395E;
  cursor: pointer;
}