
.containerTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 20px;
  align-items: flex-start;
  margin-right: 300px;

}

.formPreviewContainer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
  margin-left: 10px;
  
}

.previewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputLineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.inputLine {
  width: 200%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #cbcbcb;
  outline: none;
  margin-bottom: 1rem;
  color: black;
}

.formContainer {
    display: flex;
    flex-direction: column;
        
  }
  
  .checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .checkboxContainer > div {
    margin-right: 10px;
    margin-bottom: 10px;
    
  }
  
  .titulo {
    font-family: 'Courier New', Courier, monospace, serif ,cursive;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
  }

  
.buttonBack, .submitButton, .previewButton {
  width: 35%;
  height: 45px;
  /* margin-top: 70px; */
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.14);
  color: #04395E;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.buttonBack:hover, .submitButton:hover, .previewButton:hover {
  box-shadow: 0px 0px 8px #04395E;
}

.submitButton {
  margin-right: 10px; 
  margin-top: 1rem;
}

.previewButton {
  margin-left: 20px; 
  margin-top: 1rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stepInput {
  width: 300px;
}