.container {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
}
.filterContainer {

    margin-right: 10px;
  }

  select {
    border: 1px solid #96a368; 
  }
