.thanskImage {
    width: 600px;
    margin-top: -250px;
    border-radius: 10px;
}

.linkButton {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #d16666;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    margin-right: 10px;
  }
  
  .linkButton span {
    position: relative;
    z-index: 2;
  }
  
  .linkButton:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d16666;
    transition: all 0.35s;
  }
  
  .linkButton:hover {
    color: #fff;
  }
  
  .linkButton:hover:after {
    width: 100%;
  }