.loginButton, 
.registerButton {
  background-color: transparent;
  border: 1px solid #bdc289;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  grid-row-gap: 10px;
  padding: 150px;
  margin-top: -100px;
}

.imageContainer {
  position: relative;
  margin-right: 20px;
}

.picture {
  width: 400px;
  border-radius: 20px;
}
.image3 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
}

.textContainer {
  text-align: center;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 2 / 2;
  align-items: center;
  margin-top: -10px;
}

.loginFormContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 20px;
}

.forText {
  font-family: "Brush Script MT", cursive;
  font-weight: normal;
}

.foodieLoversText {
  font-size: 40px;
}

.experienceText {
  font-family: "Brush Script MT", cursive;
  font-weight: normal;
  font-size: 34px;
  line-height: 0;
}

.linkButton {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #bdc289;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.linkButton span {
  position: relative;
  z-index: 2;
}

.linkButton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #bdc289;
  transition: all 0.35s;
}

.linkButton:hover {
  color: #fff;
}

.linkButton:hover:after {
  width: 100%;
}

.section {
  width: 100%;
  padding-top: -50px;
}

/* IMAGEN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.firstContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1100px;
  
}

.firstContainer .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 15px;
  overflow: hidden;
}

.firstContainer .card .foto,
.firstContainer .card .contentFoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.firstContainer .card .foto img {
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.firstContainer .card .contentFoto::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.5);
transform: scaleX(0);
transition: transform 0.5s ease-in-out;
transform-origin: right;
transition-delay: 0.5s;
}

.firstContainer .card:hover .contentFoto::before {
transform: scaleX(1);
transition: transform 0.5s ease-in-out;
transform-origin: left;
transition-delay: 0s;
}

.firstContainer .card .contentFoto {
display: flex;
justify-content: center;
align-items: center;
}

.firstContainer .card .contentFoto .content {
position: relative;
padding: 30px;
z-index: 1;
transition: 0.5s;
transform: translateX(300px);
transition-delay: 0s;
}

.content {
  font-size: 20px;

}

.firstContainer .card:hover .contentFoto .content {
transform: translateX(0px);
transition-delay: 0.5s;
}

.firstContainer .card .contentFoto .h3 {
font-size: 1.3rem;
text-transform: uppercase;
letter-spacing: 1px;
}

/* --------login y registro ------  */

.nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  background-color: #fff;
  border: 2px solid #bdc289;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 230px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #bdc289;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #bdc289;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}