
.containerPage {
    height: 50vh;
    width: 20vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #04395E;
    backdrop-filter: blur(10px);
    
  }
  
  .loginContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #04395E;
    margin-top: -160px;
    margin-right: -40px;
  }
  
  form {
    width: 80%;
    margin: auto;
  }
  
  .inputLineContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
  }
  
  .nameInput {
    font-size: 12px;
  }
  
  .inputLine {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cbcbcb;
    outline: none;
    margin-bottom: 1rem;
    color: white;
  }
  
  .buttonLogin {
    width: 100%;
    height: 45px;
    border-radius: 55px;
    background-color: rgba(255, 255, 255, 0.14);
    color: #04395E;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s;
  }
  .buttonSecond {
    width: 100%;
    height: 45px;
    border-radius: 55px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;
    margin: 1rem;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonLogin:hover {
    box-shadow: 0px 0px 8px #70A288;
  }
  
  .buttonSecond:hover {
    opacity: 1;
  
  }
  