.navContainer {
  display: grid;
  place-items: center;
  height: 60px;
  background-color: #BDC289;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navElements {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchInput {
  margin-right: 10px;
  height: 23px;
  border-color: transparent;
}

.searchButton {
  background-color: transparent;
  border: 1px solid #96a368;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #96a368; 
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.navLinks li {
  margin-right: 20px; /* Ajusta el valor según el espacio deseado */
}

.navLinks li:last-child {
  margin-right: 300px; /* Elimina el margen en el último enlace */
}

.navLinks li:not(:last-child) {
  margin-right: 20px; /* Ajusta el valor según el espacio deseado */
}

.navLinks a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.navLinks a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.navLinks a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
.middleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 15px;
}